<div class="main-container">
    <h1>All You Can Subscriptions!</h1>

    <!-- Sezione Animazioni delle pietanze in arrivo verso i piatti -->
    <div class="food-dispencer">
        <ng-container *ngIf="!isFoodDispencerStopped">
            <div class="left-dish-animation" *ngIf="!isLeftPlateListenerCompleted"> {{ currentDishType }} </div>
            <div class="right-dish-animation"> {{ currentDishType }} </div>
        </ng-container>
    </div>

    <!-- Sezione Piatti -->
    <div class="plates">
        <div class="plate">
            <ng-container *ngTemplateOutlet="plateTopIcon; 
            context:  { 
                plateDishes: leftPlateDishes,
                isListening: !isLeftPlateListenerCompleted  
            }"></ng-container>
        </div>

        <div class="plate">
            <ng-container *ngTemplateOutlet="plateTopIcon; 
                context:  { 
                    plateDishes: rightPlateDishes,
                    isListening: !isRightPlateIgnoringDishes  
                }"></ng-container>
        </div>
    </div>

    <!-- Sezione bottoni azione -->
    <div class="action-buttons">
        <button mat-raised-button (click)="switchPlate()" [disabled]="isLeftPlateListenerCompleted" color="primary">
            CAMBIA PIATTO
        </button>

        <button mat-raised-button (click)="stopFoodDispencer()" [disabled]="isFoodDispencerStopped" color="warn">
            FERMA DISTRIBUTORE DI CIBO
        </button>
    </div>



    <!-- Sezione informazioni descrittive di ogni step -->
    <mat-card class="steps-info-container">
        <div class="info-icon">
            <mat-icon>info</mat-icon>
        </div>
        <div class="step-description">
            <!-- Descrizione dello step iniziale. Prima che l'utente prema qualsiasi bottone -->
            <div class="step" *ngIf="!isLeftPlateListenerCompleted">
                <div class = "step-paragraph">
                    Entrambi i piatti, ovvero le <strong>subscriptions</strong> del distributore, sono in ascolto sulle
                    pietanze emesse, ma il piatto di destra le sta ignorando tutte grazie alla pipe <strong>skipUntil</strong>.
                </div>  
            </div>

            <!-- Descrizione dello stato in cui si trova l'applicativo dopo che è stato emesso l'evento switchPlateEvent$ (ovvero dopo che è stato premuto il bottone "CAMBIA PIATTO") -->
            <div class="step" *ngIf="!isRightPlateIgnoringDishes">
                <div class = "step-paragraph">
                    La subscription relativa al piatto sinistro ha effettuato l'unsubscribe grazie alla pipe
                    <strong>takeUntil</strong>,
                    di conseguenza il distributore non emette più valori verso questa subscription.
                </div>
                <div class = "step-paragraph">
                    L'observable relativa al piatto destro (<strong>rightPlateListener$</strong>), poiché è stato emesso un valore dal Subject <strong>switchPlateEvent$</strong>, ha superato il blocco dello skipUntil.
                    Adesso il piatto destro è in ascolto delle pietanze che le arrivano finché (<strong>takeUntil</strong>) il distributore non smette di emettere valori (<strong>stopFoodDispencerEvent$</strong>) o 
                    il componente viene distrutto (<strong>onDestroyEvent$</strong>) 
                </div>
                   
            </div>

            <!-- Descrizione dello stato in cui si trova l'applicativo dopo che è stato emesso l'evento stopFoodDispencerEvent$ (ovvero dopo che è stato premuto il bottone "FERMA DISTRIBUTORE DI CIBO") -->
            <div class="step" *ngIf="isFoodDispencerStopped">
                <div class = "step-paragraph">
                    L'observable sorgente del distributore di cibo è in stato <strong>completato</strong> e quindi non emetterà più valori. 
                    <strong>Viene effettuato automaticamente l'unsubscribe di tutte le subscriptions in ascolto</strong>.
                </div>
            </div>
        </div>

    </mat-card>

</div>




<!-- Template comune per entrambi i piatti -->
<ng-template #plateTopIcon let-isListening="isListening" let-plateDishes = "plateDishes">
    <div class="plate-top-icon">
        <mat-icon *ngIf="isListening; else notListening" class="icon listening-icon">check_circle</mat-icon>
        <ng-template #notListening>
            <mat-icon class="icon not-listening-icon">cancel</mat-icon>
        </ng-template>
    </div>

    <div class="inner-plate">
        <div class="plate-content">
            <!-- Si scorre tutte le pietanze per ogni piatto -->
            <ng-container *ngFor="let dish of plateDishes">
                <!-- Ogni alimento viene posizionato all'interno del piatto secondo le sue coordinate -->
                <div class="dish" [style.left.%]="dish.distanceFromLeft" [style.top.%]="dish.distanceFromTop">
                    <!-- Di ogni pietanza viene mostrata nel piatto solo la relativa emoji -->
                    {{ dish.dishType }}
                </div>
            </ng-container>
        </div>
    </div>

</ng-template>