.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    margin-top: 50px;
    
    .food-dispencer {
        position: relative;
        width: 100px;
        width: fit-content;
        top: -25px;
        margin-top: 40px;

        .left-dish-animation {
            position: absolute;
            animation: leftStraightLine 0.8s infinite linear;
        }

        .right-dish-animation {
            position: absolute;
            animation: rightStraightLine 0.8s infinite linear;
        }


        @keyframes leftStraightLine {
            100% {
                transform: translate3D(-200px, 77px, 0);
            }
        }

        @keyframes rightStraightLine {
            100% {
                transform: translate3D(188px, 77px, 0);
            }
        }
    }

    .plates {
        margin: 70px;
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .plate {
            border-radius: 50%;
            width: 200px;
            height: 160px;
            position: relative;
            display: flex;
            box-shadow: 0px 1px 5px #8c8c8c;
            justify-content: center;

            .plate-top-icon {
                position: absolute;
                top: -10px;
                transform: scale(1.7);
                z-index: 2;
                cursor: default;
    
    
                .icon {
                    background: white;
                    border-radius: 50%;
                    box-shadow: 0px 1px 5px 0px #a0a0a0;
    
                    &.listening-icon {
                        color: #4caf50;
                    }
        
                    &.not-listening-icon {
                        color: #d00000;
                    }
                }
    
                .listening-icon {
                    color: #4caf50;
                }
    
                .not-listening-icon {
                    color: #d00000;
                }
            }
    
            .inner-plate {
                width: 100%;
                margin: 17px;
                border-radius: 50%;
                border: 1px solid #ffffff;
                box-shadow: inset -1px 1px 4px grey;
                background: #f8f8f8;

                .plate-content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    left: 72px;
                    top: 52px;

                    .dish {
                        transition: opacity 1s linear;
                        position: absolute;
                        cursor: default;
                    }
                }
                
            }
            
        }
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 100px;
    }

    .steps-info-container {
        margin-top: 50px;
        display: flex;
        align-items: center;
        width: 600px;


        .info-icon {
            transform: scale(1.5);
            display: flex;
            margin-right: 20px;
            color: #348bff;
        }

        .step-description {
            font-size: 16px;
            .step {
                .step-paragraph {
                    margin-top: 3px;
                    margin-bottom: 2px;
                }
            }
        }
    }
}
